/* app css stylesheet */

.fullWidth {
   height: 100%;
   width: 100%;
   padding-left: 20px;
   padding-right: 20px;
   max-width: initial;
}

html, body {
  min-height: 100%;
}

div.content {
  position: absolute;
  top: 60px;
  bottom: 15px;
  width: 100%;
}

.row>div {
  height: 100%;
}

.CodeMirror {
  position: absolute;
  left: 15px;
  top: 0px;
  right: 15px;
  bottom: 0px;
  height: auto;
  border: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 18px;
}

#code-panel .header {
  height: 50px;
}

#code-panel .editor-and-output {
  position: absolute; 
  left:0px;
  right:0px;
  top:50px; 
  bottom: 0px;
}

#code-panel .editor-and-output .editor {
  height: 75%;

}

#code-panel .editor-and-output .output {
  height: 25%;
}

#code-output {
  background: #ccc;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#canvas-panel canvas {
  width: 100%;
  height: 100%;
  background: #ffe;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.console-message-INFO {

}

.console-message-ERROR {
  color: #d00;
}

.tealight-line-error {
  background: rgba(255,0,0,0.5);
}