/* app css stylesheet */

.fullWidth {
   width: 100%;
   padding-left: 20px;
   padding-right: 20px;
   max-width: initial;
}


#code-editor {
  background: #ffd;
  height: 400px;
  width: 100%;
}

#code-output {
  background: #ccc;
  height: 100px;
  width: 100%;
}

#canvas {
  background: #fdf;
  width: 100%;
  height: 500px;
}

.CodeMirror {
  height: 100%;
}
