

<div class="row">
	<div class="small-12 columns">
		<div class="panel callout radius">
			<h1>Welcome to Tealight</h1>
			<p>
			Tealight is a computer science teaching tool, using the python programming language.
		</div>
	</div>
</div>

<div class="row" ng-show="(!userProfile && !loggingIn)">
	<div class="small-12 columns text-center">
		<a href="#!/login" class="button success radius" >Login with github to get started</a>
	</div>
</div>
<p>
<div class="row">
	<div class="small-4 columns">
		<div class="panel radius">
			<h3>Logo Mode</h3>
			<p> If you're new to Tealight or python, you should start here.</p>
			<p> Draw patterns and learn about the basics of programming.</p>
			<a href="#!/code/logo" class="button radius success" style="float:right">Start coding &raquo;</a>
		</div>
	</div>
	<div class="small-4 columns">
		<div class="panel radius">
			<h3>Robot Mode</h3>
			<p> Once you've mastered the basics, try these challenges.</p>
			<p> Test your skills by guiding the robot to the fruit in different environments.</p>
			<a href="#!/code/robot" class="button radius success" style="float:right">Start coding &raquo;</a>
		</div>
	</div>
	<div class="small-4 columns">
		<div class="panel radius">
			<h3>Art Mode</h3>
			<p> Put your new skills to good use. In art mode, the sky is the limit.</p>
			<p> Harness the full power of python to build applications, games and more.</p>
			<a href="#!/code/art" class="button radius success" style="float:right">Start coding &raquo;</a>
		</div>
	</div>
</div>
<br/>
<br/>
<div class="row">
	<div class="small-12 columns text-center">
		Tealight is copyright &copy; 2014 <a href="http://github.com/daviesian">Ian Davies</a> and <a href="http://github.com/LeszekSwirski">Leszek Świrski</a>.
	</div>
</div>